body { 
	font-family: Arial, sans-serif; margin: 20px; 
	line-height: 1.6; 
	}
	
.section { 
	margin-bottom: 20px; 
}
.header { 
	font-size: 24px; font-weight: bold; margin-bottom: 10px; 
}
.subheader { 
	font-size: 18px; font-weight: bold; margin-top: 10px; 
}
ul { 
	margin: 5px 0 5px 20px; 
}
footer { 
	margin-top: 30px; font-size: 14px; text-align: center; color: #555; 
}
	