/*setting background color,font family, and text color for the whole page. */
body{
	background-color:#000000;
	color:#39FF14; /* this is neon green */
	font-family:"Times New Roman", Arial, "Courier New";
	text-align: left;
	a{
		text-decoration: none;
		color: #AFDCEB;
	}
}

/* style for about section */
.about{
	background-color: #111111;
	outline-style: double;
	outline-color: #FFFFFF;
	outline-width: medium;
}
.skills{
	background-color: #111111;
	outline-style: double;
	outline-color: #FFFFFF;
	outline-width: medium;
}
.projects{
	background-color: #000000;
	outline-style: double;
	outline-color: #FFFFFF;
	outline-width: medium;
	display:flex; flex-wrap:wrap; flex-direction: row; 
	overflow: visible; overflow-wrap: break;
	
	/* changing the font size of the link */
	a{
		font-size:1.5em;
	}
}
.contact{
	background-color: #000000;
	outline-style: double;
	outline-color: #FFFFFF;
	outline-width: medium;
	/* changing the font size of the link */
	a{
		font-size:1.5em;
	}
}
.project {
	margin: 10px;
	padding: 10px 10px;
	background-color: #4F4F4F;
	border-radius: 10%;
	width: 25%;
	height: 40%;
	p{
		text-align: center;
		margin: 15px;
	}
	
	img {
		  width: 100%;
		  height: auto;    
		  border: 3.5px solid rgb(0,0,0);
		  margin: auto;
	}
}
footer { 
	margin-top: 30px; font-size: 14px; text-align: center; color: #555; 
}