body {
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    margin-bottom:40px;
}

/* top navbar */

#main-persistent-navbar {
    position:sticky;
    top:0;
    z-index:1000;   
}
#main-navbar-content-container{
    width:100%;
    background:black;
    color:white;
    margin:0px;
}

#main-navbar-general{
    max-width:85rem;
    margin: 0 auto;
    display:flex;
    flex-direction:column;
}

#main-navbar-specific {
    background:#75000A;
    width:100%;
    color:white;
}

#top-mini-navbar ul li {
    font-size:0.9rem;
}

#top-mini-navbar ul li:not(:last-child)::after {
    content:" | ";
    display:inline-block;
    color:white;
    text-align:center;
    width:1rem;
}

#top-mini-navbar ul{
    display:flex;
    list-style:none;
    padding:0px;
    margin-top:5px;
    margin-bottom:0px;
}

#top-mini-navbar {
    display:flex;
    justify-content:flex-start;
}

.logo-bar {
    display: flex;
    justify-content:space-between;
    align-items:center;
}

#top-school-specific-navbar {
    width:83%;
}

#top-school-specific-navbar ul {
    display:flex;
    justify-content:flex-end;
    list-style:none;
    padding:10px;
    margin:0px;
    gap:4.1rem;
    align-items:center;
}

#top-school-specific-navbar ul li {
    font-size:1.3rem;
}


/* main content */
.image-section {
    width:100%;
    height:700px;
    position:relative;
}

.image-section img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.text-banner {
    background:white;
}

#text-banner-two {
    display:flex;
    align-items:center;
    max-width: 60%;
    margin:auto;
    padding:40px;
}

#text-banner-two img {
    border-radius:50%;
    margin:20px;
}

.info-box {
    background:#75000A;
    position:absolute;
    max-width:30%;
    padding:20px;
}

.info-box h3 {
    border: 2px solid white;
    padding: 10px;
    background-color:black;
    width:fit-content;
    font-weight:bold;
}

#education-info-box {
    bottom:-30px;
    right:20px;
}

#research-info-box {
    bottom:-30px;
    left:100px;
}

#institutes-info-box {
    bottom:-20px;
    left:80px;
    max-width: 26%;
}

#text-banner-one {
    width:40%;
    margin-right:auto;
    margin-left:auto;
    margin-top:40px;
    margin-bottom:40px;
}

#gallery-banner{
    display:flex;
    flex-wrap:wrap;
    margin:auto;
    width:80%;
    justify-content:center;
    padding:50px;
}

#gallery-banner a {
    display:block;
}

.gallery-item {
    display:flex;
    flex-direction:column;
    max-width:400px;
    margin-right:30px;
    margin:20px;
    flex:1 1 400px;
}

/* footers */
#school-specific-footer {
    background-color:#EDEDED;
    width:100%;
}

#school-specific-footer h2 {
    color:#75000A;
    font-size:4rem;
    padding-top:60px;
    margin-bottom:0px;
}

#school-specific-footer p {
    padding-top:0px;
}

#school-specific-footer h3 {
    border: 2px solid white;
    color:white;
    padding: 10px;
    background-color:#75000A;
    width:fit-content;
    font-weight:bold;
}

#footer-bold-buttons {
    display:flex;
    justify-content:center;
    gap:3rem;
}

.link-section {
    display:flex;
    margin:auto;
    width:100%;
}

#tri-section-links {
    display:flex;
}

#social-links-footer {
    flex-direction:column;
}

#social-links  ul li, #other-links ul li{
    list-style:none;
    padding-left:0px;
}

#social-links ul {
    display:flex;
    align-items:center;
    margin-top:0px;
    padding-top:0px;
}

#social-links ul li {
    padding-right:10px;
}

#social-links ul li:first-child {
    margin-right:40px;
    padding:10px;
    border:solid 2px white;
    background-color:black;
    color:white;
}

#address {
    display: flex;
    flex-direction:column;
}

#address a, #address p {
    margin:10px;
    text-align:left;
}

.link-section:not(:last-child){
    border-right:2px #A3A3A3 solid;
}

#main-footer {
    background-color:#75000A;
}


/* typography */
a {
    text-decoration: none;
    color:white;
}

.text-banner p{
    text-align:justify;
    font-size:1.5rem;
    font-weight:bold;
}

.info-box h2, .info-box p, .info-box h3{
    color:white;
}

.info-box h2 {
    font-size:3rem;
    margin:5px;
}
.info-box p, #school-specific-footer p{
    font-size:1.1rem;
}
.gallery-item h3 {
    color:#75000A;
}

.gallery-item p {
    color:black;
}

#footer-text h2, #footer-text p {
    text-align:center;
}

#other-links a {
    text-decoration:none;
}

#other-links a, #address a {
    color:#75000A;
}

#address a{
    text-decoration:underline;
}

.link-section h4 a{
    color:#75000A;
    margin-left:45px;
}

.column {
    display:flex;
    flex-direction:column;
}

.column li a {
    color:#75000A;
}
