body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


/* top navbar */
#main-navbar-content-container{
    width:100%;
    background:black;
    color:white;
    margin:0px;
}

#main-navbar-general{
    max-width:85rem;
    margin: 0 auto;
    display:flex;
    flex-direction:column;
}

#main-navbar-specific {
    background:#75000A;
    width:100%;
    color:white;
}

#top-mini-navbar ul li {
    font-size:0.8rem;
}

#top-mini-navbar ul{
    display:flex;
    list-style:none;
    padding:0px;
    margin:0px;
    gap: 1rem;
}

#top-mini-navbar {
    display:flex;
    justify-content:flex-start;
}

#top-logo-bar {
    display: flex;
    justify-content:space-between;
    align-items:center;
}

#top-school-specific-navbar {
    width:83%;
}

#top-school-specific-navbar ul {
    display:flex;
    justify-content:flex-end;
    list-style:none;
    padding:10px;
    margin:0px;
    gap:2rem;
    align-items:center;
}

#top-school-specific-navbar ul li {
    font-size:1.3rem;
}

/* typography */
a {
    text-decoration: none;
    color:white;
}