/* Main Structure */
body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:lightsalmon;
}

#main-content {
    /* background-color:cornflowerblue; */
    width:80%;
    margin:auto; /*centers*/
    padding: 5px 10px;
}

#main-header{
    background-color:cornflowerblue;
}

#content {

}

#main-footer{

}

/* Gallery */

#gallery section{
    background:lightblue;
    padding:5px;
    border-radius:5px;
    margin:5px;
}

#gallery section h3 {
    text-align:center;
}

#gallery section p {
    text-align:center;
}

/* Navigation */

#main-nav ul{
    padding-left:0;
}

#main-nav li {
    list-style-type:none;
    background-color:cyan;
    padding: 5px;
    border-bottom: 1px solid;

}

#main-nav a {
    text-decoration:none;
}


/* Typography */
#main-header h1{
    text-align:center;
    padding-top:10px;
}

/* Larger Devices */
@media (min-width: 768px) {
    .columns{
        display:flex;
    }
    .one{
        flex:1;
    }
    .two{
        flex:2;
    }
    .three{
        flex:3;
    }
    .four{
        flex:4;
    }
    #main-nav ul {
        display:flex;
    }

    #main-nav li {
        background: transparent;
    }

    #main-nav a {
        color: black;
        border-bottom: 1px solid transparent;
    }

    #main-nav a:hover {
        border-bottom: 1px solid black;
    }
}