body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    margin: 0px;
    display:flex;
    flex-direction:column;
}
/* nav */

#top-nav{
    padding:0;
    margin:0;
}

#top-nav ul{
    padding-left:0;
    display:flex;
    flex-direction:column;
    margin-bottom:0px;
}

#top-nav li{
    list-style-type: none;
    background-color: salmon;
    flex:1;
    margin:0;
    border: 1px solid #B0C4DE;
    text-align:center;
    padding: 10px;
}

#top-nav a{
    text-decoration:none;
    color: white;
    display:block;
}


/* small windows */

#small-windows {
    display:flex;
    flex-direction:column;
    width:100%;
    margin:auto;
}
.window{
    flex:1;
    margin-left:0px;
    margin-right:5px;
}
.window h4 {
    text-align:center;
    background-color:teal;
    color:white;
    margin-bottom:0px;
    padding: 10px;
    margin-top:5px;
}
.window img {
    margin:auto;
    margin-bottom:20px;
    display:block;
}

/* articles */

.all-articles img{
    margin:0;
}
.regular-article{
    background-color:teal;
    display:flex;
    align-items:top;
    justify-content:center;
    margin-bottom:5px;
    gap: 10px;
    height:auto;
}
.alternate-article{
    background-color:#B0C4DE;
    display:flex;
    align-items:top;
    justify-content:center;
    gap: 10px;
    margin-bottom:5px;
    height:auto;
}
.textbox{
    width:50%;
}
.textbox h4{
    margin-bottom:0;
    margin-top:10px;
    color:white;
}
.textbox p{
    margin-top:5px;
    color:white;
}


/* typography */
#top-header h1{
    color: teal;
    text-align: center;
    padding:10px;
}

#important-text {
    color:#B0C4DE;
}

/* footer */
#bottom-footer{
    text-align:center;
    padding: 10px;
    background-color: salmon;
}

#bottom-footer p{
    color:white;
}

/* all larger devices */
@media (min-width: 768px){
    /* nav */
    #top-nav ul{
    flex-direction:row;
    }   

    /* small windows */
    #small-windows {
    display:flex;
    flex-direction:row;
    width:50%;
    margin-left:auto;
    margin-right:0;
    }
    .window h4 {
    text-align:center;
    background-color:teal;
    color:white;
    margin-right: 5px;
    margin-bottom:0px;
    margin-top:5px;
    }
    #window-bar {
        display:flex;
        align-items:top;
    }
    
    /* articles */
    .alternate-article,.regular-article{
        height:200px;
    }

    /* typography */
    #window-bar h3{
        margin-top:50px;
    }
}