/*page-wide typography and styles*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background:#0F172A;
    color:#E5E7EB;
    text-align:center;
}

/*flex*/
#content {
    display:flex;
    flex-direction:column;
}
.content-box {
    background:#1E293B;
    color:#94A3B8;
    border:1px solid #94A3B8;
    margin-left:auto;
    margin-right:auto;
    width:95%;
    padding:20px;
}

/*geomoetry*/

#geometry {
    text-align:center;
}

#triangle{
    width:0px;
    height:0px;
    border-left:100px solid transparent;
    border-right:100px solid transparent;
    border-bottom:200px solid #14B8A6;
    margin:auto;
    visibility:hidden; /*this should be changed to visible to show */
}


/* date selector */
#date{
    text-align:left;
}

/* frame image */
#frame img {
    margin-left:auto;
    margin-right:auto;
    margin-top: 10%;
}

/*typography*/
h1 {
    color: #6366F1;
}

h2 {
    color: #14B8A6;
}

h3 {
    text-align:center;
}

/*on larger devices everything will be large and flex-wrap until the screen is smaller than 768 */
@media (min-width: 768px) {
    #content{
        flex-direction:row;
        flex-wrap:wrap;
    }

    .content-box {
        width:500px;
        height:500px;
    }
}