body {
    background: #39709d;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* text styles */
h1 {
    color: #f6edd4;
    text-align:center;
}

h2 {
    color: #f6edd4;
    text-align:center;
}

h3 {
    color: #f6edd4;
}

a{
    text-decoration:none;
    color:#f6edd4;
}

/* div formatting */
#name-line{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.box-item {
    background-color:#970a0d;
    width:350px;
    padding:5px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
}
.box-item h3, .box-item p {
    text-align:center;
}

.box-item img {
    display:block;
    margin:auto;
}

/* all larger devices */
@media (min-width: 768px){
    /* flex layout */
    #assignment-list{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        align-items:stretch;
    }
    #project-list{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        align-items:stretch;
    }

    .box-item {
        margin:10px;
        width:350px;
    }
}
